.navbar {
  @apply flex items-center justify-between w-full text-foreground;
  font-family: "Roboto", sans-serif;

  ul {
    @apply flex gap-6 max-sm:flex-col;

    li {
      a {
        @apply transition-all duration-200 ease-in-out no-underline;
        position: relative;
        padding: 0.5rem 0;
        font-size: clamp(14px, 2vw, 16px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 2px;
          background-color: currentColor;
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 0.3s ease-in-out;
          @media (max-width: 640px) {
            left: 0;
            top: 0;
            bottom: auto;
            width: 2px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
          }
        }

        &:hover::after {
          transform: scaleX(1);

          @media (max-width: 640px) {
            transform: scaleY(1);
          }
        }

        &.active {
          @apply text-blue-300 font-semibold max-sm:ps-3;

          &::after {
            transform: scaleX(1);

            @media (max-width: 640px) {
              transform: scaleY(1);
            }
          }
        }
      }
    }
  }
}